[flake8]
max-line-length = 120

# Black can yield formatted code that triggers these Flake8 warnings.
ignore =

    # Line break occurred before a binary operator (W503) - https://www.flake8rules.com/rules/W503.html
    W503

    # Line break occurred after a binary operator (W504) - https://www.flake8rules.com/rules/W504.html
    W504

    # Whitespace before ':' (E203) - https://www.flake8rules.com/rules/E203.html
    E203

per-file-ignores =

    # Module imported but unused (F401) - https://www.flake8rules.com/rules/F401.html
    src/**/__init__.py: F401

    # trailing whitespace (W291) - https://www.flake8rules.com/rules/W291.html
    src/ouilookup/cli/__init__.py: W291
